{% extends 'base.html' %}

{% block page_header %}
  <h1>{% block title %}MQTT{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div>This page will contain setup for connecting to mqtt</div>
    <script>
      async function initMqtt() {
        const a = await fetch("/setup/initMqtt")
        console.log(a.body)
      }
      async function readMqttSettings() {
        const a = await fetch("/setup/readMqttSettings")
        console.log(a.body)
      }
      async function publishMqtt() {
        const a = await fetch("/setup/publish")
        console.log(a.body)
      }
    </script>
    <button name="initMqttButton" onclick="initMqtt()">Init Mqtt</button>
    <button name="readMqttSettingsButton" onclick="readMqttSettings()">Read Mqtt Settings</button>
    <button name="publishMqttButton" onclick="publishMqtt()">Publish to mqtt</button>
{% endblock %}